
<nav class="navbar navbar-default" style="background-color: #F0FFFF">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Admin Home Page</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#logs"><i class="fa fa-home"></i> Home</a></li>
       
        <li><a href="#printhistory"> PrintHistory</a></li>
      </ul>
    </div>
  </nav>


<div id="main" style="padding-left: 30%;padding-right: 30%;padding-bottom: 10%; background-color: #F0FFFF; ">
  <div class="jumbotron text-center" style="background-color: #F0FFFF;">
 <div class="login-page">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	
			<form ng-submit = "Login()"  ng-app="app" ng-controller="HttpGetController" role="form">
				<span style="float:left" class="label label-primary">Username</span>
				<div class="form-content">
					<div class="form-group">
						
						<input type="email" class="form-control input-underline input-lg" ng-model="username" id="" placeholder="Username">
					</div>
					<span style="float:left" class="label label-primary">Password</span>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" ng-model="password" id="" placeholder="Password">
					</div>
					<span style="float:left" class="label label-primary">SMTP Hostname</span>
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" ng-model="smtp_hostname" id="" placeholder="S M T P">
					</div>

					<span style="float:left" class="label label-primary">IMAP Hostname</span>
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" ng-model="imap_hostname" id="" placeholder="I M A P">
					</div>

					<span style="float:left" class="label label-primary">Admin Email</span>
					<div class="form-group">
						<input type="email" class="form-control input-underline input-lg" ng-model="admin_email" id="" placeholder="Admin Email">
					</div>
				</div>

				<input style="width:60%" type="submit" class="btn btn-primary btn-outline btn-lg btn-rounded" value="Save">Save</button>

			</form>

		</div>	
	</div>

</div>
</div>
</div>